html, body {
    margin: 0;
    height: 100%;
}

line {
    stroke: red;
}

g.group0 path,
g.group0 circle {
    stroke: red;
    fill: none;
}

g.tick line {
    stroke: black;
}

g.tick text {
    size: 12px;
    fill: purple;
}