html, body {
    margin: 0;
    height: 100%;
}

path {
    stroke: green;
    stroke-width: 2;
}

g.group0 path,
g.group0 circle {
    stroke: red;
    fill: none;
}

g.tick text {
    size: 12px;
    fill: purple;
}

g.x.axis.hidden line, path {
    display: none;
    stroke: none;
}