body {
    font-family: "Lato";
  }

.carousel-item {
    overflow: hidden; /* This hides any content overflowing the container */
    height: 300px; /* Set the carousel height */
  }

/* Define a media query for screens smaller than 768px (typical for mobile devices) */
@media (max-width: 768px) {
  .carousel-item {
    height: 10px; /* Adjust the height as needed for mobile */
  }
}